@tailwind base;
@tailwind components;
@tailwind utilities;

/* ICON COLORS */

@layer base {
    svg {
        fill: currentColor;
        height: 100%;
        width: 100%;
    }
}

@layer utilities {
    .svg-transparent .primary,
    .svg-transparent .secondary {
        fill: transparent;
    }

    .svg-validation-green .primary {
        @apply fill-green-300;
    }

    .svg-validation-red .primary {
        @apply fill-red-300;
    }

    .svg-white .primary,
    .svg-white .secondary {
        fill: white;
    }

    .svg-search-bar .primary {
        @apply fill-blue-100;
    }
    .svg-search-bar .secondary {
        @apply fill-blue-500;
    }

    .svg-datepicker-calendar .primary {
        @apply fill-gray-400;
    }
    .svg-datepicker-calendar .secondary {
        @apply fill-gray-600;
    }

    .svg-datepicker-chevron .secondary {
        @apply fill-gray-400;
    }

    .svg-dropdown-chevron .secondary {
        @apply fill-gray-500;
    }

    .svg-dropdown-select .primary {
        @apply fill-blue-200;
    }

    .svg-password-eye .primary {
        @apply fill-gray-400;
    }
    .svg-password-eye .secondary {
        @apply fill-gray-600;
    }

    .svg-datepicker-plus-minus .secondary {
        @apply fill-gray-300;
    }

    .svg-label-info .primary {
        @apply fill-gray-300;
    }
    .svg-label-info .secondary {
        @apply fill-gray-600;
    }

    .svg-toggle-true .primary {
        @apply fill-blue-50;
    }
    .svg-toggle-true .secondary {
        @apply fill-blue-900;
    }
    .svg-toggle-false .primary {
        @apply fill-gray-200;
    }
    .svg-toggle-false .secondary {
        @apply fill-transparent;
    }

    .svg-navbar-active .primary {
        fill: white;
    }
    .svg-navbar-active .secondary {
        @apply fill-blue-300;
    }
    .svg-navbar-passive .primary {
        @apply fill-blue-50;
    }
    .svg-navbar-passive .secondary {
        @apply fill-blue-200;
    }

    .svg-elevated-button-active .primary {
        @apply fill-blue-100;
    }
    .svg-elevated-button-active .secondary {
        @apply fill-blue-700;
    }
    .svg-elevated-button-passive .primary {
        @apply fill-gray-200;
    }
    .svg-elevated-button-passive .secondary {
        @apply fill-gray-500;
    }

    .svg-button-flat-disabled .primary {
        @apply fill-gray-200;
    }
    .svg-button-flat-disabled .secondary {
        @apply fill-gray-500;
    }
    .svg-button-flat-light-red .primary {
        @apply fill-red-200;
    }
    .svg-button-flat-light-red .secondary {
        @apply fill-red-500;
    }
    .svg-button-flat-light-blue .primary {
        @apply fill-blue-200;
    }
    .svg-button-flat-light-blue .secondary {
        @apply fill-blue-500;
    }

    .svg-message-queue-close .primary {
        @apply fill-gray-300;
    }
    .svg-message-queue-close .secondary {
        @apply fill-gray-600;
    }

    .svg-field-green .primary {
        @apply fill-green-300;
    }
    .svg-field-green .secondary {
        @apply fill-green-700;
    }
    .svg-field-action-green .primary {
        @apply fill-green-300;
    }
    .svg-field-action-green .secondary {
        @apply fill-green-700;
    }
    .svg-field-blue .primary {
        @apply fill-blue-150;
    }
    .svg-field-blue .secondary {
        @apply fill-blue-700;
    }
    .svg-field-action-blue .primary {
        @apply fill-blue-300;
    }
    .svg-field-action-blue .secondary {
        @apply fill-blue-700;
    }
    .svg-field-rose .primary {
        @apply fill-rose-200;
    }
    .svg-field-rose .secondary {
        @apply fill-rose-700;
    }
    .svg-field-action-rose .primary {
        @apply fill-rose-300;
    }
    .svg-field-action-rose .secondary {
        @apply fill-rose-700;
    }
    .svg-field-gray .primary {
        @apply fill-gray-350;
    }
    .svg-field-gray .secondary {
        @apply fill-gray-800;
    }
    .svg-field-action-gray .primary {
        @apply fill-gray-400;
    }
    .svg-field-action-gray .secondary {
        @apply fill-gray-800;
    }

    .svg-add-field .primary {
        @apply fill-gray-350;
    }
    .svg-add-field .secondary {
        @apply fill-gray-500;
    }

    .svg-header-back .primary {
        @apply fill-white;
    }
    .svg-header-back .secondary {
        @apply fill-gray-500;
    }
    .svg-selection-option-remove .primary {
        @apply fill-gray-300;
    }
    .svg-selection-option-remove .secondary {
        @apply fill-gray-500;
    }

    .svg-settings-generate-id .primary {
        @apply fill-transparent;
    }
    .svg-settings-generate-id .secondary {
        @apply fill-gray-600;
    }

    .svg-message-error .secondary {
        @apply fill-red-300;
    }

    .svg-message-warning .secondary {
        @apply fill-yellow-300;
    }

    .svg-message-success .secondary {
        @apply fill-green-300;
    }
}
