@tailwind base;
@tailwind components;
@tailwind utilities;

/* Make box shadows work on inputs */
input {
    -webkit-appearance: none;
}

/* Without this, it will be set to none (I think by Tailwind) 
   and one cannot type anything on text inputs */
input,
textarea {
    -webkit-user-select: text !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.no-selection {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hyphens {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
