@tailwind base;
@tailwind components;
@tailwind utilities;

.no-selection {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    padding: 0;
    margin: 0;
    font-family: Quicksand, sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

@layer utilities {
    .font-weight-300 {
        font-weight: 300;
    }

    .font-weight-400 {
        font-weight: 400;
    }

    .font-weight-500 {
        font-weight: 500;
    }

    .font-weight-600 {
        font-weight: 600;
    }

    .font-weight-700 {
        font-weight: 700;
    }

    .icon-light-blue .primary {
        @apply fill-blue-50;
    }
    .icon-light-blue .secondary {
        @apply fill-blue-200;
    }

    .icon-blue .primary {
        @apply fill-blue-100;
    }
    .icon-blue .secondary {
        @apply fill-blue-900;
    }

    .icon-dark-blue .primary {
        @apply fill-blue-300;
    }
    .icon-dark-blue .secondary {
        @apply fill-blue-600;
    }

    .icon-dark-red .primary {
        @apply fill-red-300;
    }
    .icon-dark-red .secondary {
        @apply fill-red-600;
    }

    .icon-dark-orange .primary {
        @apply fill-orange-300;
    }
    .icon-dark-orange .secondary {
        @apply fill-orange-600;
    }

    .icon-dark-yellow .primary {
        @apply fill-yellow-400;
    }
    .icon-dark-yellow .secondary {
        @apply fill-yellow-700;
    }

    .icon-dark-green .primary {
        @apply fill-green-300;
    }
    .icon-dark-green .secondary {
        @apply fill-green-600;
    }

    .icon-dark-teal .primary {
        @apply fill-teal-300;
    }
    .icon-dark-green .secondary {
        @apply fill-teal-600;
    }

    .icon-dark-gray .primary {
        @apply fill-gray-500;
    }
    .icon-dark-gray .secondary {
        @apply fill-gray-900;
    }

    .icon-gray .primary {
        @apply fill-gray-300;
    }
    .icon-gray .secondary {
        @apply fill-gray-500;
    }

    .icon-transparent .primary,
    .icon-transparent .secondary {
        fill: transparent;
    }
}

@layer base {
    svg {
        fill: currentColor;
        height: 100%;
        width: 100%;
    }
}

.flex-row-left {
    @apply flex;
    @apply flex-row;
    @apply items-center;
    @apply justify-start;
}

.flex-row-top {
    @apply flex;
    @apply flex-row;
    @apply items-start;
    @apply justify-center;
}

.flex-col-left {
    @apply flex;
    @apply flex-col;
    @apply items-start;
    @apply justify-center;
}

.flex-col-right {
    @apply flex;
    @apply flex-col;
    @apply items-end;
    @apply justify-center;
}

.flex-col-top {
    @apply flex;
    @apply flex-col;
    @apply items-center;
    @apply justify-start;
}

.flex-col-left-top {
    @apply flex;
    @apply flex-col;
    @apply items-start;
    @apply justify-start;
}

.centering-row {
    @apply flex;
    @apply flex-row;
    @apply items-center;
    @apply justify-center;
}

.centering-col {
    @apply flex;
    @apply flex-col;
    @apply items-center;
    @apply justify-center;
}

.flex-max {
    @apply self-stretch;
    @apply flex-grow;
}
