@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    font-family: Quicksand, sans-serif;
}

@layer utilities {
    .font-weight-300 {
        font-weight: 300;
    }

    .font-weight-400 {
        font-weight: 400;
    }

    .font-weight-500 {
        font-weight: 500;
    }

    .font-weight-600 {
        font-weight: 600;
    }

    .font-weight-700 {
        font-weight: 700;
    }

    .ringable {
        @apply ring-[2.5px];
        @apply ring-transparent;
        @apply focus:outline-none;
        @apply focus:ring-blue-200;
    }

    .not-ringable {
        @apply ring-transparent;
        @apply outline-none;
    }

    .ringable-dark {
        @apply ring-[2.5px];
        @apply ring-transparent;
        @apply focus:outline-none;
        @apply focus:ring-blue-400;
    }
}

.animate-pop {
    animation: pulse 0.5s cubic-bezier(0.1, 0, 0.5, 1);
    transform-origin: bottom right;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}
