@tailwind base;
@tailwind components;
@tailwind utilities;

.no-selection {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

@layer utilities {
    .font-weight-100 {
        font-weight: 100;
    }

    .font-weight-300 {
        font-weight: 300;
    }

    .font-weight-400 {
        font-weight: 400;
    }

    .font-weight-500 {
        font-weight: 500;
    }

    .font-weight-700 {
        font-weight: 700;
    }

    .font-weight-900 {
        font-weight: 900;
    }
}

@layer base {
    svg {
        fill: currentColor;
        height: 100%;
        width: 100%;
    }
}

.flex-row-start {
    @apply flex;
    @apply flex-row;
    @apply items-start;
    @apply justify-center;
}

.flex-col-start {
    @apply flex;
    @apply flex-col;
    @apply items-start;
    @apply justify-center;
}

.centering-row {
    @apply flex;
    @apply flex-row;
    @apply items-center;
    @apply justify-center;
}

.centering-col {
    @apply flex;
    @apply flex-col;
    @apply items-center;
    @apply justify-center;
}

.flex-max {
    @apply self-stretch;
    @apply flex-grow;
}
